.cars {
  display: flex;
  flex-wrap: wrap;

  .car-block {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 20px;
    margin: 0 10px 10px 0;

    .title {
      font-weight: 500;
      font-size: 28px;
      color: #111111;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 30px;

      .btns {
        min-width: 115px;
        width: 115px;

        button {
          min-width: 35px !important;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .car-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      mat-icon {
        color: rgba(17, 17, 17, 0.6);
        width: 100px;
        height: 100px;
        font-size: 100px;
      }
    }

    .car-img-exist {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .car-data {
      &-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(17, 17, 17, 0.6);
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &-supHead {
          font-size: 18px;
          color: #111111;
        }
      }
    }
  }
}
